html{
  scroll-behavior: smooth; 
}
*{
  margin: 0;
  padding: 0;
}
#navbar{
  position: fixed;
  display: flex;
  align-items: ;
  justify-content: flex-end;
  background: darkred;
  border-bottom: 3px solid;
  width: 100%;
  height: 10vh;
  top: 0;
}
#navbar a{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  padding: 15px;
}
#navbar a:hover{
  background: black;
}
#welcome-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: repeatig-linear-gradient(60deg, #003, #009, #ddf, #005, #ddd);
  height: 100vh;
  background-color: #0C0C0C;
}
.sign{
  display: none;
}
h1{
  color: white;
  font-size: 45px;
  font-family: Roboto;
}
.dev{
  font-size: 30px;
  font-family: Roboto;
  color: darkred;
  font-style: italic;
}
#projects{
  background: #394180;
  padding-top: 15px;
}
.project-tile{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 15vh;
  padding-bottom: 5vh;
  text-align: center;
  font-family: Roboto;
  font-size: 45px;
  color: ;
  font-weight: bold;
  border: px solid;
}
.project{
  cursor: pointer;
  border-radius: 3px;
  border: px solid;
}
.image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 100%;
}
.image img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin: ;
  border: px solid;
}
.image{
  border: px solid;
}
.name{
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-family: Roboto;
  font-weight: normal;
  text-align: center;
  border: px solid;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: none;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
}
.name a{
  color: white;
  text-decoration: none;
}
.four{
  font-size: 18px;
}
.name:hover > .sign{
  display: inline;
  color: tomato;
  transition: all 0.3s ease-out;
}
.project:hover .sign{
  display: inline;
  color: tomato;
  transition: ease;
}
.work{
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  grid-template-columns: auto auto auto;
  width: 70%;
  margin: 0 auto;
  padding: 15;
  border: px solid;
  align-items: center;
  justify-content: center;
}
#media{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #303841;
  height: 80vh;
}
.profile-link{
  font-family: Roboto;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.connect{
  font-family: Roboto;
  font-style: italic;
  font-size: 20px;
}
.platforms{
  margin-top: 30px;
  border: px solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.platforms a{
  letter-spacing: ;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-family: Georgia;
  text-shadow: 5px;
  padding: 1px;
  margin: 8px; 
  font-size: 24px;
  width: 160px;
  height: 30px;
  border: px solid;
}
.platforms a:hover{
  transform: translateY(8px);
  transition: transform 0.3s ease;
}
svg{
  width: 30px;
  height: 30px;
}
.footer{
  padding: 30px;
  font-family: Georgia;
  font-size: 22px;
  background: #303841;
  border-top: 4px solid darkred;
  display: flex;
  flex-direction: column;
  justify-content: ;
}
.copyright{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.policy{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
@media only screen and (max-width: 720px){
  .name{
    font-size: 16px;
  }
  #navbar a{
    font-size: 15px;
    padding: 8;
  }
  h1{
    font-size: 30px;
  }
  .dev{
    font-size: 25px;
  }
  .project-tile{
    font-size: 25px;
  }
}
